{% extends 'home/layout.html' %}

{% block main %}
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRJ5QRJ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <main id="main-404-content" class="main-content-particle-js">
        <div class="content-wrap">
            <div class="shadow-overlay"></div>
            <div class="main-content">
                <div class="row">
                    <div class="col-twelve">
                        <h1 class="kern-this">404 Error.</h1>
                        <p>
                            Oooooops! Looks like nothing was found at this location.
                            Maybe try one of the links below, click on the top menu
                            or try a search?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock main %}